<div class="row">
  <aside class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @user.name %></h3>
      </div>
      <div class="panel-body">
        <img class="media-object img-rounded img-responsive" src="<%= gravatar_url(@user, { size: 500 }) %>" alt="">
      </div>

      ###ここは要相談###
      <script
        type="text/javascript"
        src="https://checkout.pay.jp/"
        class="payjp-button"

        data-key= 'pk_test_f161d0734fcfc9d54be5ecbf'
        data-on-created="onCreated"
        data-text="カードを登録する"
        data-submit-text="カードを登録する"
        data-partial="true">
      </script>
    </div>
  </aside>
  <div class="col-xs-8">
    <h3><span style="color: #ff0000;">ここは要相談</span></h3>
    <ul class="nav nav-tabs nav-justified">
      <li><a href="#">投稿一覧</a></li>
      <li><a href="#">支援した投稿</a></li>
    </ul>
  </div>
</div>
